<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.generalized_new.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.example.generalized_new.bean.UserBean">
        INSERT INTO users (loginName, name, password)
        VALUES (#{loginName}, #{name}, #{password});
    </insert>

    <select id="loginUser" parameterType="String" resultType="com.example.generalized_new.bean.UserBean">
        select *
        from users
        where loginName = #{loginName}
          and password = #{password};
    </select>
</mapper>
